mixin time (datetime, weekday, date, time)
	time(datetime=datetime).current__datetime
		span.current__weekday= weekday
		span.current__date= date

mixin source-color (source, datetime, date, time)
	case source
		when 'day'
			a(href='#' title='Читати всі новини з даного розділу' class= 'content__source tsn__day') ТСН День
		when 'world'
			a(href='#' title='Читати всі новини з даного розділу' class= 'content__source tsn__world') Світ
		when 'ukraine'
			a(href='#' title='Читати всі новини з даного розділу' class= 'content__source tsn__ukraine') Україна
		when 'glamour'
			a(href='#' title='Читати всі новини з даного розділу' class= 'content__source tsn__glamour') Гламур
		when 'money'
			a(href='#' title='Читати всі новини з даного розділу' class= 'content__source tsn__money') Гроші
	time(datetime=datetime).content__datetime.tsn__default
		span.content__date= date
		span.content__time= time

mixin weather (icon, city, temperature)
	.current__weather.grid-x.aligh-middle
		i(class='weather__icon wi ' + icon)
		.weather__description
			span.weather__city= city
			span.weather__temp!= temperature + '&deg;C'

mixin currency (state, name, value)
	.currency__item
		case state
			when 'up'
				svg(
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					width="5px" height="12px") 
					image(x="0px" y="0px" width="5px" height="12px"  xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAMAgMAAADXDp++AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAADFBMVEX///8zmQAzmQD///+BuUfwAAAAAnRSTlMAAHaTzTgAAAABYktHRACIBR1IAAAAB3RJTUUH4QoFDRoxhYnjpgAAABlJREFUCNdj4GRg0HJgmNnAEOkAQkAuBgIATTIC/n9Xie0AAAAASUVORK5CYII=")
			when 'down'
				svg(
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					width="5px" height="12px")
					image(x="0px" y="0px" width="5px" height="12px"  xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAMAgMAAADXDp++AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEXMAADMAAD///+7BOFBAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAHdElNRQfhCgUNHDZNt9GDAAAAE0lEQVQI12NgYWDAhVwcGERBDAAHsQDCn65YcAAAAABJRU5ErkJggg==")
		case name
			when 'dollar'
				i.fa.fa-usd.currency__name
			when 'euro'
				i.fa.fa-eur.currency__name
		span.currency__value= value

mixin tabs(count)
	- var n = 1
	while n <= count
		span(class= 'header__tab js__tab tab-' + n++)
mixin tab__content(type, content_url, heading, source, datetime, date, time)
	.tab__content.js__tab-content
		case type
			when 'video'
				h1 wait!
			when 'photo'
				div(
					class='content__bg'
					style='background-image: url(./assets/img/header__content/' + content_url + ');'
					)
		.content__info
			h2.content__heading
				a(href='#' title='Читати повний текст новини').content__heading-link= heading
			+source-color(source, datetime, date, time)

mixin categories-line (source)
	case source
		when 'day'
			a(href='#' title='Читати всі новини з даного розділу' class= 'section__link tsn__day-bg') ТСН День
		when 'world'
			a(href='#' title='Читати всі новини з даного розділу' class= 'section__link tsn__world-bg') Світ
		when 'ukraine'
			a(href='#' title='Читати всі новини з даного розділу' class= 'section__link tsn__ukraine-bg') Україна
		when 'glamour'
			a(href='#' title='Читати всі новини з даного розділу' class= 'section__link tsn__glamour-bg') Гламур
		when 'money'
			a(href='#' title='Читати всі новини з даного розділу' class= 'section__link tsn__money-bg') Гроші
		when 'politics'
			a(href='#' title='Читати всі новини з даного розділу' class= 'section__link tsn__politics-bg') Політика
		when 'video'
			a(href='#' title='Читати всі новини з даного розділу' class= 'section__link tsn__video-bg') Відео
		when 'editions'
			a(href='#' title='Читати всі новини з даного розділу' class= 'section__link tsn__editions-bg') Випуски ТСН
		when 'blogs'
			a(href='#' title='Читати всі новини з даного розділу' class= 'section__link tsn__blogs-bg') Блоги
		when 'sport'
			a(href='#' title='Читати всі новини з даного розділу' class= 'section__link tsn__sport-bg') Проспорт
		when 'ladies'
			a(href='#' title='Читати всі новини з даного розділу' class= 'section__link tsn__ladies-bg') Леді
		when 'interesting'
			a(href='#' title='Читати всі новини з даного розділу' class= 'section__link tsn__interesting-bg') Цікавинки
		when 'special'
			a(href='#' title='Читати всі новини з даного розділу' class= 'section__link tsn__special-bg') Спецпроекти

mixin comments (comments_count, views_count)
	.news__comments
		a(href='#' class='comments')
			svg( 
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				width="12px" height="11px"
				class="comments__icon")
				path(d="M6.002,1.283 C8.789,1.283 11.146,2.851 11.146,4.713 C11.146,6.575 8.789,8.142 6.002,8.142 C5.714,8.142 5.419,8.122 5.131,8.089 L4.749,8.049 L4.461,8.303 C3.912,8.786 3.296,9.167 2.619,9.449 C2.793,9.141 2.961,8.772 3.088,8.297 L3.269,7.653 L2.686,7.318 C1.527,6.662 0.857,5.711 0.857,4.713 C0.857,2.851 3.215,1.283 6.002,1.283 ZM12.004,4.713 C12.004,2.342 9.318,0.426 6.002,0.426 L6.002,0.426 C2.686,0.426 -0.000,2.342 -0.000,4.713 C-0.000,6.073 0.884,7.285 2.264,8.069 C1.949,9.188 1.467,9.589 1.045,10.065 C0.944,10.186 0.831,10.286 0.864,10.454 C0.864,10.454 0.864,10.454 0.864,10.460 C0.898,10.608 1.018,10.715 1.152,10.715 C1.159,10.715 1.172,10.715 1.186,10.715 C1.447,10.681 1.708,10.634 1.949,10.567 C3.108,10.273 4.153,9.723 5.031,8.946 C5.345,8.980 5.674,9.000 6.002,9.000 C9.318,9.000 12.004,7.084 12.004,4.713 Z")
			span.comments__count= comments_count
		a(href='#' class='views')
			svg(
				class="views__icon" 
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				width="12px" height="8px"
				class="views__icon")
				path(d="M11.146,4.141 C10.001,5.910 8.152,7.142 6.002,7.142 C3.852,7.142 2.003,5.910 0.857,4.141 C1.494,3.157 2.365,2.313 3.410,1.777 C3.142,2.232 3.001,2.755 3.001,3.284 C3.001,4.939 4.347,6.285 6.002,6.285 C7.656,6.285 9.003,4.939 9.003,3.284 C9.003,2.755 8.862,2.232 8.594,1.777 C9.639,2.313 10.510,3.157 11.146,4.141 ZM6.323,1.569 C6.323,1.743 6.176,1.891 6.002,1.891 C5.238,1.891 4.609,2.520 4.609,3.284 C4.609,3.458 4.461,3.606 4.287,3.606 C4.113,3.606 3.966,3.458 3.966,3.284 C3.966,2.165 4.883,1.248 6.002,1.248 C6.176,1.248 6.323,1.395 6.323,1.569 ZM12.004,4.141 C12.004,3.974 11.950,3.820 11.870,3.679 C10.637,1.656 8.380,0.283 6.002,0.283 C3.624,0.283 1.366,1.656 0.134,3.679 C0.054,3.820 -0.000,3.974 -0.000,4.141 C-0.000,4.309 0.054,4.463 0.134,4.604 C1.366,6.627 3.624,8.000 6.002,8.000 C8.380,8.000 10.637,6.633 11.870,4.604 C11.950,4.463 12.004,4.309 12.004,4.141 Z")
			span.views__count= views_count

mixin news-content (image_url, title, source, datetime, date, time, comments_count, views_count)
	.news__item.small-4.grid-y.align-justify
		.news__top
			div(
				class='news__img'
				style='background-image: url(./assets/img/news__content/' + image_url + ');'
				)
			h3
				a(href='#' class='news__heading')= title
		.news__info.grid-x
			+source-color(source, datetime, date, time)
			+comments(comments_count, views_count)